.wrapper {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
}

@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
        gap: 1rem;
    }
}