.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.col .logo {
    margin-bottom: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
}

.col h3 {
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.col :nth-child(2),
col:nth-child(3) {
    flex-basis: 15%;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    text-decoration: none;
    color: black;
}

.social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    opacity: 0.6;
    justify-content: space-evenly;
}

.social-icons img:hover {
    opacity: 1;
}

.row .col:first-child {
    margin-top: -10px;
}

.email-box a {
    text-decoration: none;
    color: orange;
    opacity: 0.6;
}

.email-box a:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}


